body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Segoe UI", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

code {
  font-family: Roboto,
    monospace;
}

.search input {
  padding: 0.3rem;
  width: 100%;
  margin: 0 !important;
}

.locate {
  background: none;
  border: none;
  position: absolute;
  top: 19px;
  right: 16px;
}

.locate img {
  width: 30px;
  cursor: pointer;
}

.no-margin {
  margin: 0 !important;
}

.relative {
  position: relative;
}

.px-15 {
  padding: 15px 0px;
}

.w-100 {
  width: 100% !important;
}

.p-info > p{
  margin-bottom: 5px;
}

.item-list {
  padding:10px;
  border-top: 1px solid #c3c3c3;
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  cursor: pointer;
}

.item-list:last-child {
  padding: 10px;
  border: 1px solid #c3c3c3;
  cursor: pointer;
}

.item-list:hover {
  background-color: #f0f0f0;
}

